doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Pieter-Jan's Home parking
    meta(name="description", content="Pieter-Jan's Home parking'")
    meta(name="author", content="Pieter-Jan Geeroms")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
    link(rel="stylesheet", href="../css/common.css")
    link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
body
  Header
    h1 
      a PJ's Home parking
    
    nav 
      ul
        li
          a Home
    
  main
   article
    h2 title
    p address
    p city
    p contact
    p description
    
  footer
    span No &copy; cuz this is OpenData!
